<%= data %>
<form method="POST" action="/category/add">
  <p><input type="text" name="category_name" /></p>
  <p><input type="text" name="images" /></p>
  <p><input type="submit" name="sub" value="Save" /></p>
</form>
